<!DOCTYPE html>
<html>
<head>
<title>ENTER YOUR ISSUE TITLE HERE</title>
<!-- Bootstrap CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
</head>
<body>

    <div>
        <h2>Don't be shy</h2>
        <h3>Issue <i> Title </i> Here</h3>
        <p> <strong> Hello World - This is a sample text. </strong> </p>
    </div>

</body>
</html>
